{% load static %}
<div class="container-fluid index-footer footer">
    <span>Доброполье ул. Банковая 45 ТЦ "Орбита"</span>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <span>Супермаркет</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><img class="img-orbita" src="{% static 'img/logo/orbita.png' %}" alt="Instagram"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="nav-link nav-font" aria-current="page" href="https://www.instagram.com/orb_ita911/">
                        <span><img class="img-instagram-footer" src="{% static 'img/logo_instagram.png' %}" alt="Instagram"></span>
                    <span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <span>Евросток</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><img class="img-eurostock" src="{% static 'img/logo/eurostock.png' %}" alt="Instagram"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="nav-link nav-font" aria-current="page" href="https://www.instagram.com/orbita_eurostock_dobropillya/">
                        <span><img class="img-instagram-footer" src="{% static 'img/logo_instagram.png' %}" alt="Instagram"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <span>Sushi-pizza</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><img class="img-pizza-sushi" src="{% static 'img/logo/sushi_pizza.png' %}" alt="Instagram"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a class="nav-link nav-font" aria-current="page" href="https://www.instagram.com/orbita_sush/">
                        <span><img class="img-instagram-footer" src="{% static 'img/logo_instagram.png' %}" alt="Instagram"></span>
                        <span></span>
                        </a>
                </div>
            </div>
        </div>
        <div class="col-md-3"><div id="map"></div></div>
    </div>
</div>




<script>
    function initMap() {
        let myPosition = { lat: 48.45838849707559, lng: 37.08328183387194 };
        let myMap = new google.maps.Map(document.getElementById("map"), {
        center: myPosition,
        zoom: 15,
        });
        let marker = new google.maps.Marker({
            position: myPosition,
            map: myMap,

        });
    }
</script>