{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>

                        «BrooklynLand» — это атмосферное и стильное заведение. Мы путешествуем по миру для поиска наиболее удачных рецептов для ресторана и приятно удивляем, Вас большим выбором гриль меню, авторских пицц, блюдами европейской и японской кухни! 
                    
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/1.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/2.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/3.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/4.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/5.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/6.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/7.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/8.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/9.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/10.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/11.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/12.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/13.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/14.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/15.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/16.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/17.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/18.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/19.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/20.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/21.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/22.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/23.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/24.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/25.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/26.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/27.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/28.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/29.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/30.jpg' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        Супермаркет "Орбита". Всегда свежая выпечка, куры гриль. Сахар, мука крупы по оптовым ценам. 
                        Каждый вторник - "сырный день" на весь сыр скидка 10%, 
                        каждый четверг - "рыбный день" на всю рыбу скидак 10%,
                        каждый понедельник - "социальный день" пенсионерам скидка на весь товар 5%.
                        Действует накопительная дисконтная карта, 1% от суммы покупки на карту.       
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/41.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/42.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/43.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/44.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/45.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/46.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/47.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/48.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/49.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/50.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/51.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        "Евросток" магазин новой брендовой одежды из Европы для всей семьи. 
                        В нашем магазине, Вы подберете не просто одежду, Вам помогут создать готовый образ!
                        Владельцу дисконтной карты супермаркета "Орбита" скидка 10%.
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/31.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/32.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/33.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/34.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/35.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/36.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/37.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/38.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/39.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/40.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        Sushi & Pizza. Фудкорт. Итальянская пицца, хачапури, лапша wok, роллы, суши.  
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/52.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static '/img/about_us/53.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid index-footer">
    {% include 'partials/google_maps.html' %}
</div>

{% endblock %}