{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>

                        «BrooklynLand» — это атмосферное и стильное заведение. Мы путешествуем по миру для поиска наиболее удачных рецептов для ресторана и приятно удивляем, Вас большим выбором гриль меню, авторских пицц, блюдами европейской и японской кухни! 
                    
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/1.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/2.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/3.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/4.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/5.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/6.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/7.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/8.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/9.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/10.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/11.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/12.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/13.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/14.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/15.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/16.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/17.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/18.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/19.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/20.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/21.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/22.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/23.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/24.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/25.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/26.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/27.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/28.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/29.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/brooklyn/30.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        Супермаркет "Орбита". Всегда свежая выпечка, куры гриль. Сахар, мука крупы по оптовым ценам. 
                        Каждый вторник - "сырный день" на весь сыр скидка 10%, 
                        каждый четверг - "рыбный день" на всю рыбу скидак 10%,
                        каждый понедельник - "социальный день" пенсионерам скидка на весь товар 5%.
                        Действует накопительная дисконтная карта, 1% от суммы покупки на карту.       
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/1.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/2.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/3.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/4.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/5.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/6.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/7.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/8.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/9.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/10.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/supermarket/11.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        "Евросток" магазин новой брендовой одежды из Европы для всей семьи. 
                        В нашем магазине, Вы подберете не просто одежду, Вам помогут создать готовый образ!
                        Владельцу дисконтной карты супермаркета "Орбита" скидка 10%.
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/1.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/2.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/3.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/4.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/5.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/6.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/7.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/8.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/9.JPG' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/eurostock/10.JPG' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
<div class="container-fluid content-about-us" >
    <div class="row" >
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-12 about_us_description">
                    <span>
                        Sushi & Pizza. Фудкорт 
                    </span>
                </div>
                <div class="col-md-6 col-lg-6 col-xs-12 div_slider">
                    <div class="about_us_slider">
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/sushi_pizza/1.jpg' %}" alt="Brooklyn"></div>
                        </div>
                        <div class="slide">
                            <div class="img-about-us-slide"><img class="img-index-slide" src="{% static 'img/about_us/sushi_pizza/2.jpg' %}" alt="Brooklyn"></div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>        
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="container-fluid index-footer">
    {% include 'partials/google_maps.html' %}
</div>

{% endblock %}